# Assignment - 1

1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
* 
'hello'
-87.8
- 
/ 
+	
6

Since *,-,/,+ come under mathematical operators, these are expressions.
Since 6 is an integer and 'hello' is a string, these are values.
To summarize *, 'hello', -, /, + and 6 comes under values or expression

2. What is the difference between string and variable?

String is a data type. Any value written inside '' (Single Quotes) or " " (Double Quotes) are considered as String.
Variable is a value holder which is used to hold any value. The value can be of any type like numeric or character or any other type of data. 

Lets say if we consider below example, Name is considered as variable and the value inside Name which is 'Subramanyam' is considered as String. The data type of variable Name is String.

Name = 'Subramanyam'

3. Describe three different data types.

Below are the three different data types.
1. Numbers - Any mathemetical number comes under this. Eg - 123, 34.23
2. String - Any value enclosed in Quotes are considerd as String data type. Eg - 'Ineuron', 'Data Science', '451.52'
3. Dictionary - This data type will have Key, Value pair sealed in curly braces. Eg - dc = {'Institute':'Ineuron', 'Course':'Data Science', 'Roll No':12}
In the above example, 'Institute', 'Course' and 'Roll No' will be considered as Keys and 'Ineuron', 'Data Science' and 12 will be considered as values. When accessed the dictionary with variable name, we get the keys returned. If we need to access values, we would need to use function values() with the variable name. In the above example, dc will return the keys and dc.values() will return the values.

4. What is an expression made up of? What do all expressions do?

Expressions are made with combination of mathemetical operators and values. 
Eg - a = b + c --> b + c is an expression which give a result of sum of b and c.
Expressions give a result by doing the computation provided. In the above example the computation is b + c and it computes the sum of b,c and the result will be saved in a. So the whole statement is called an expression and this expression computes and provide a result.

5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

An expression computes something and gives a result where as each line of code executed is called a statement.

To give the difference, a = b + c => here b+c is an expression since it computes the sum and gives the result where as print(a) can be considered as a statement since it can be executed and prints the value of a. Not only print(a), any executable line of code is called statement like If statement, else statement and so on. Even the lines inside If or Else statements are considered as statements.

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

22

7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

'spam' + 'spamspam' = 'spamspamspam'

'spam' * 3 = 'spamspamspam'

8. Why is eggs a valid variable name while 100 is invalid?

A variable name can start with a character or an Underscore (_) symbol. A variable name cannot start with number. So eggs is a valid variable and since 100 is a number, it is not a valid variable name.

9. What three functions can be used to get the integer, floating-point number, or string version of a value?

int() function can be used to get integer. float() function can be used to get float value and str() function is used to convert a value to a string.

10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

We can concatenate only string with another string. Since 99 is an integer here, we cannot concatenate String with an integer. If we convert 99 to a string using str() function or if we enclose 99 in quotes in the below ways, we can fix the error and get the statement executed.

'I have eaten ' + str(99) + ' burritos.'

'I have eaten ' + '99' + 'burritos.'